*.swp
*.pyc
/.eggs/
/.idea/
/.pytest_cache/
/build/
/dist/
/doc/_build/
/src/pyimagej.egg-info/
/Fiji.app
/fiji-nojre.zip
MANIFEST
.vscode/settings.json
.vscode/launch.json
.gitignore

# Jupyter #
*.ipynb_checkpoints*
