# Use this file to construct an environment
# for developing PyImageJ from source.
#
# First, install miniforge3:
#
#   https://github.com/conda-forge/miniforge#miniforge3
#
# Then run:
#
#   mamba env create -f dev-environment.yml
#   mamba activate pyimagej-dev
#
# In addition to the dependencies needed for using PyImageJ, and for
# executing the Jupyter notebooks in the documentation, it includes tools
# for developer-related actions like running automated tests (pytest),
# linting the code (black), and generating the API documentation (sphinx).
# If you want an environment without these tools, use environment.yml.

name: pyimagej-dev
channels:
  - conda-forge
dependencies:
  - python >= 3.9
  # Project dependencies
  - imglyb >= 2.1.0
  - jgo >= 1.0.3
  - jpype1 >= 1.4.0
  - labeling >= 0.1.14
  - numpy
  - scyjava >= 1.12.0
  - xarray
  # Optional dependencies
  - matplotlib-base
  # Notebook dependencies
  - ipywidgets
  - jupyter_contrib_nbextensions
  - notebook < 7.0.0
  - pooch # for scikit image
  - scikit-image
  # Developer tools
  - myst-nb
  - pre-commit
  - python-build
  - pytest
  - pytest-cov
  - ruff
  - sphinx
  - sphinx-copybutton
  - sphinx_rtd_theme
  - pip
  - pip:
    - readthedocs-sphinx-search
    - validate-pyproject[all]
    # Project from source
    - -e .
