# Metadata
include LICENSE.txt
include MANIFEST.in
include Makefile
include README.md
include conftest.py
include pyproject.toml

# Conda Environment Files
include environment.yml
include dev-environment.yml

# Directory inclusion
graft src
graft tests
graft bin

# Directory exclusion
prune doc

# File inclusion
include doc/*.md

# File exclusion
global-exclude __pycache__
global-exclude *.py[doc]
global-exclude *.ipynb

exclude doc/**/README.md
