# Documentation
recursive-include doc *.*

# Python files
include *.py

# Conda Environment Files
include environment.yml
include dev-environment.yml

# Test script
include test.sh

# While these things don't hurt
global-exclude *.py[doc]
